<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <head>
        <title>createCreditApp</title>
    </head>
    <body>
        <h1>Создание заявки на кредит</h1>
        <form method="POST" th:object="${request}">
            <h3>Данные пользователя</h3>
            <label for="user.firstName">Имя</label>
            <input type="text" th:field="*{user.firstName}"/>
            <br/>

            <label for="user.lastName">Фамилия</label>
            <input type="text" th:field="*{user.lastName}"/>
            <br/>
            
            <label for="user.patronymic">Отчество</label>
            <input type="text" th:field="*{user.patronymic}"/>
            <br/>
            
            <label for="user.passportSeria">Серия паспорта</label>
            <input type="text" th:field="*{user.passportSeria}"
                   minlength="4"
                   maxlength="4"/>
            <br/>

            <label for="user.passportNumber">Номер паспорта</label>
            <input type="text" th:field="*{user.passportNumber}"
                   minlength="6"
                   maxlength="6"/>
            <br/>

            <label for="user.familyStatus">Семейное положение</label>
            <!--<div th:each="status : ${family_statuses.statuses}">-->
                <div th:each="status : ${family_statuses}">
                <input type="radio" th:field=*{user.familyStatus}
                       th:value="${status.status}"/>
                <span th:text="${status.statusName}">STATUS</span>
            </div>
            <br/>
            
            <label for="user.address">Адрес</label>
            <input type="text" th:field="*{user.address}"/>
            <br/>
            
            <label for="user.phone">Телефон</label>
            <input type="text" th:field="*{user.phone}"
                   minlength="10"
                   maxlength="12"/>
            <br/>
            
            <h3>Данные о кредите</h3>
            <label for="request.requestedSum">Запрашиваемая сумма</label>
            <input type="number" th:field="*{request.requestedSum}"/>
            <br/>
            
            <input type="submit" value="Подать заявку"/>
        </form>
    </body>
</html>
