<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO! HomePage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Главная страница</h1>

        <form method="POST">
            <input type="submit" value="Подать заявку" name = "createRequest"/>

            <h3>Отчеты</h3>
            <input type="submit" value="Все клиенты" name = "allUsers"/>
            <input type="submit" value="Поиск клиента" name = "searchUser"/>
            <input type="submit" value="Все заявки" name = "allRequests"/>
            <input type="submit" value="Все договора" name = "allContracts"/>
        </form>
    </body>
</html>
