<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Отклонено</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Заявка отклонена</h1>
        
        
        <form method="POST">
            <input type="submit" value="Подать заявку" name = "createRequest"/>
            <input type="submit" value="На главную" name = "home"/>
        </form>
    </body>
</html>
