<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Список всех пользователей</title>
    </head>
    <body>
        <h1>Критерии поиска</h1>
        <form method="GET" th:object="${search_criteria}">
            <label for="firstName">Имя</label>
            <input type="text" th:field="*{firstName}"/>
            <br/>

            <label for="lastName">Фамилия</label>
            <input type="text" th:field="*{lastName}"/>
            <br/>

            <label for="patronymic">Отчество</label>
            <input type="text" th:field="*{patronymic}"/>
            <br/>

            <label for="passportSeria">Серия паспорта</label>
            <input type="text" th:field="*{passportSeria}"/>
            <br/>

            <label for="passportNumber">Номер паспорта</label>
            <input type="text" th:field="*{passportNumber}"/>
            <br/>

            <label for="phone">Телефон</label>
            <input type="text" th:field="*{phone}"/>
            <br/>

            <input type="submit" value="Поиск" name = "search"/>
        </form>

        <h1>Результат поиска</h1>
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Фамилия </th>
                    <th> Имя </th>
                    <th> Отчество </th>
                    <th> Серия паспорта </th>
                    <th> Номер паспорта </th>
                    <th> Семейное положение </th>
                    <th> Адрес </th>
                    <th> Телефон </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="2"> Данные не найдены </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.userId}"> ID </span></td>
                    <td><span th:text="${user.lastName}"> Фамилия </span></td>
                    <td><span th:text="${user.firstName}"> Имя </span></td>
                    <td><span th:text="${user.patronymic}"> Отчество </span></td>
                    <td><span th:text="${user.passportSeria}"> Серия паспорта </span></td>
                    <td><span th:text="${user.passportNumber}"> Номер паспорта </span></td>
                    <td><span th:text="${user.familyStatus}"> Семейное положение </span></td>
                    <td><span th:text="${user.address}"> Адрес </span></td>
                    <td><span th:text="${user.phone}"> Телефон </span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
